*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0px 10px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
}
.default_page h1{
  font-size: 30px;
  text-align: center;
  color: red;
}
.navbar_uni {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}
.order{
  margin-right: 10px;
}
.navbar_uni, .navbar_uni a {
  color: #736e6e;
}
.tab_main .react-tabs__tab--selected {
  border-bottom: 3px solid red !important;
  color: red;
  font-weight: bold;
  border-color: transparent;
}
.tab_main .react-tabs__tab-list {
  border-bottom: 1px solid #fff;
  box-shadow: 0px 3px 3px #dadada;
}
.tab_main .react-tabs__tab-list {
  display: flex;
  justify-content: space-between;
}
.food_list_main {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a9a2a2;
}
.dish_img {
  width: 100px;
  height: 90px;
}
@media screen and (max-width: 800px) {
  .tab_main .react-tabs__tab-list {
    overflow-x: scroll;
    width: 900px;
  }
}